.div {

text-align: center;
    background-color: lightblue;
}


h1 {

text-align: center;
font-size:90px;
}

form {

    font-size: 30px;

}

.loss {

    font-size: 20px;
}

p {


    font-size: 35px;
}